# Bỏ qua tất cả các tệp .log
*.log

# Bỏ qua thư mục build
/build

# Bỏ qua tất cả các tệp trong thư mục temp, nhưng không bao gồm temp/important.log
temp/*
!temp/important.log

data/
esnode/
/snowplow/postgres-data
/iglu-server-config
/data_cdp
.idea
venv
logs/
__pycache__
node_modules
